<div class="container">
	<legend><h1>Edit Super Admin Details:</h1></legend>
	<div class="jumbotron">
		<%= render 'form', super_admin: @super_admin %>
	</div>

	<%= link_to 'Show', @super_admin,class: 'btn btn-default' %> |
	<%= link_to 'Back', super_admins_path %>
</div>