<div class="container-fluid">
	<legend><h1>Edit Admin Details</h1></legend>
	 <div class="jumbotron">
	 	<%= render 'form',admin: @admin %>
	 </div>
	 <%=link_to 'Show',@admin,class: 'btn btn-default' %> |
	 <%= link_to 'Back',admin_path %>
</div>