<div class="container">
	<h1>Edit Emergency Details:</h1>

	<%= render 'form', emergency: @emergency %>

	<%= link_to 'Show', @emergency ,:class => 'btn btn-default' %> |
	<%= link_to 'Back', emergencies_path ,:class => 'btn btn-link'%>
</div>

