<div class="container">
	<legend><h1>Edit Client Details:</h1></legend>
	<div class="jumbotron">
		<%= render 'form', client: @client %>

		<%= link_to 'Show', @client %> |
		<%= link_to 'Back', clients_path %>
	</div>
</div>