@import "bootstrap-sprockets";
@import "bootstrap";


      #map {
        width: 90%;
        height: 600px;
        background-color: grey;
        float: right;
      }
      
      #controls {
         width: 10%;
         height: 600px;
         background-color: rgb(60,59,55);
         float: left;
      }
      .client-details{
        font-size: 15px;
      }
      .client-new,.emergency-new,.hospital-new{
        float: right;
      }
      .button-drop{
       margin-bottom: -100px ;
       float: left
      }
      .form-search{
        margin-top: 10px;
      }
      .dropdown-lift{
        margin-top: -40px;
      }