@import "bootstrap-sprockets";
@import "bootstrap";


      body{
        background: rgb(83,129,172);
      }
      #emergency-register-form{
        display: none;
      }

      #emergency-register-form.show-form{
        display: block;
        width: 40%;
        height: 600px;
        float: left;
        background-color: rgb(135,122,214);
      }

      #map {
        width: 100%;
        height: 600px;
        background: rgb(81,158,217);
        float: right;
      }

      #map.show-form{
        width: 60%;
      }
      #map.animation{
        transition: 10s;
      }
       
      .client-details{
        font-size: 15px;
      }
      .client-new,.emergency-new,.hospital-new{
        float: right;
      }
      .button-drop{
       margin-bottom: -100px ;
       float: left
      }
      .form-search{
        margin-top: 10px;
      }
      .dropdown-lift{
        margin-top: -40px;
      }
      #rapide-logo{
         width: 20%;
         margin-top: 0px;
      }

      #nav-bar{
        width : 80%;
        float: right;
        margin-right : 40px;
        margin-top: -80px;
        background: rgb(229,227,223);
        color: white;
      }
      #nav-bar.ul{
         display: inline;
      }