@import "bootstrap-sprockets";
@import "bootstrap";



      #emergency-register-form{
         width: 40%;
         height: 600px;
         float: left;
      }

      #emergency-register-form.hide-form{
        display:none;
      }

      #map {
        width: 60%;
        height: 600px;
        background-color: grey;
        float: right;
      }

      #map.hide-form{
        width: 100%;
      }
       
      .client-details{
        font-size: 15px;
      }
      .client-new,.emergency-new,.hospital-new{
        float: right;
      }
      .button-drop{
       margin-bottom: -100px ;
       float: left
      }
      .form-search{
        margin-top: 10px;
      }
      .dropdown-lift{
        margin-top: -40px;
      }