<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdoWuvKIGOipwImLwmUKy_bGtZoZvaTL0&callback=initMap">
</script>

<div>
  <div id="map"></div>
</div>

<div>
  <div id="controls"></div>	
</div>